# Add any directories, files, or patterns you don't want to be tracked by version control
PCB/endstop/__Previews/*
PCB/endstop/History/*
PCB/endstop/Project Logs for endstop/*
PCB/endstop/Project Outputs for endstop/*
PCB/endstop/Project Outputs for Free Documents/*
PCB/endstop/Carriage.PcbDoc.htm
PCB/fan-regulator/__Previews/*
PCB/fan-regulator/History/*
PCB/fan-regulator/Project Logs for fan-regulator/*
PCB/fan-regulator/Project Outputs for fan-regulator/*
PCB/fan-regulator/Project Outputs for Free Documents/*
PCB/fan-regulator/fan-regulator.PcbDoc.htm
SW/fan-regulator/PROJ_DIR/.generated_files/*
SW/fan-regulator/PROJ_DIR/debug/*
SW/fan-regulator/PROJ_DIR/build/*
SW/fan-regulator/PROJ_DIR/dist/*